:root {
    --blue: #0a0a23;
    --white: #fff;
    --red: #c70d0d;
    --yellow: #feac32;
    --small: 1.3rem;
    --medium: 1.5rem;
    --large: 1.7;
    --lobster: font-family: 'Lobster', sans-serif;
  }
  
body {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
}

#game {
    padding: 3em;
    margin: 2em;
    max-width: 500px;
    width: 90%;
    border: 2px solid var(--red);
}

#stats, 
#controls {
    font-family: var(--caudex);
    border: 1px solid var(--blue);
    padding: 0.2em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: var(--medium);
    color: var(--blue);
    background-color: var(--white);
    font-family: 'Caudex', serif;
}

button {
    cursor: pointer;
    padding: 0.4em;
    font-size: var(--small);
    color: var(--blue);
    background-color: #fff333;
    border-radius: 10px;
}

#monsterStats {
    text-align: center;
    padding: 0.4em;
    font-size: var(--medium);
    background-color: var(--red);
    color: var(--white);
    font-weight: bold;
    font-family: 'Caudex', serif;
    display: none;
}

#text {
    color: var(--white);
    font-family: 'Caudex', serif;
    font-size: var(--medium);
    margin: 1em;
    line-height: 1.5em;
}

